label, a {
    font-size: 25px;
    color: grey;

}

.profile{
    padding: 20px 25px 20px 25px;
}

.data{
    font-size: 25px;
    color: black;
}

.imageBtn{
    width: 200px;
    height: 30px;
    font-size: 20px;
}

.btn {
    color: white;
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight:bold;
    border-radius: 8px;
    border: 0ch;
    cursor: pointer;
}