<div class="profile">


    <td>
        <label><b>Order ID: </b></label>
        <label class="data"><b>{{user.username</b></label>
        <br><br>
        <label><b>Address: </b></label>
        <label class="data"><b>{{user.address</b></label>
        <br><br>
        <label><b>Buyer username: </b></label>
        <label class="data"><b>{{user.firstName</b></label>
        <br><br>
        
        <label><b>Buyers comment: </b></label>
        <label class="data"><b>{{'dd MMM yyyy' </b></label>
        

    </td>
    <td style="padding-left: 150px; margin-top: -300px;">
        <label><b>Order: </b></label>
        <div>
            <br>
            <label class="data"><b> - 2 x {{user.lastName</b></label>
        </div>
        <br><br>
        <label><b>Total price: </b></label>
        <label class="data"><b>{{user.address</b></label>
        <br><br>
        <button (click)="AcceptOrder" class="btn">ACCEPT</button>

    </td>
</div>