<div class="flex-wrapper" >
    <div style="min-height: 200px;">
        <br>
        <h1 class="title">Ding Dong Delivery</h1>
        <div class="center">
            <button  class="btn" routerLink="/dashboard">DASHBOARD</button>
        </div>
        <br>
        <h3 class="title" style="font-size: 40px; margin-top: 0;">Products</h3>
        <br>
        <div class="profile">
            <td>
                <div *ngFor="let p of products" class="column left" >
                    <app-product [product]="p"></app-product>
                    <br><br>
                </div>
            </td>
            <td>
                <div class="column right">
                    <app-add-product></app-add-product>
                </div>
            </td>
        </div>
        <br><br><br><br>
    </div>
</div>