@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

.title{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: aliceblue;
    margin-top: 120px;
}

.profile{
    width: 60%;
    min-width: 850px;
    margin: auto;
    
}

.row {
    display: flex;

  }
  
.column {
    
    border-radius: 10px;
  }

.left {
    float: left;
    width: 750px;
    margin-left: -150px;
    margin-bottom: 10px;
  }
  
.right {
    float: right;
    width: 400px;
    margin-left: -250px;
    padding-left: 20px;
    position: absolute;
    background-color: whitesmoke;
  }

  .btn {
    color: white;
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight:bold;
    border-radius: 8px;
    border: 0ch;
    cursor: pointer;
}

.center {
    margin: auto;
    width: 10%;

  }