@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

.login {
    color: white;
    text-align: center;
    width: 300px;
    height: 60px;
    background-color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight:bold;
    border-radius: 8px;
    border: 0ch;
    cursor: pointer;
}

.input {
    width: 300px;
    height: 40px;
    font-size: 20px;
}

label, a {
    font-size: 25px;
    color: gray;
}