@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

.title{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: aliceblue;
    margin-top: 120px;
}

.title2{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: aliceblue;
}

.navbar{
    text-align: center;
    margin-top: 100px;
}