<div class="profile">
    <form (submit)="confirmOrder()" [formGroup]="orderForm">

        <td>
            <label><b>Order List: </b></label>
            <br><hr>
            <div *ngFor="let l of list">
            <label class="data"><b> - {{l.quantity}} x {{l.name}} : {{l.price}} RSD</b></label>
            <br>
        </div>
        
        <br><br>
        <label><b>Total price: </b></label>
        <label class="data"><b>{{total}} RSD</b></label>
        <br><br>
        <label><b>Buyers comment: </b></label>
        <br>
        <textarea formControlName="comment" class="comment"></textarea>
        
        
    </td>
    <td style="padding-left: 150px; margin-top: -300px;">
        <label><b>Address: </b></label>
        <label class="data"><b>{{user.address}}</b></label>
        <br><br>
        <label><b>Delivery fee: </b></label>    
        <label class="data"><b>150RSD</b></label>    
        <br><br>
        <label><b>Payment method: </b></label>
        <br><br>
        <label class="data"><b>Cash: </b></label>
        <input type="radio">
        <label class="data" style="margin-left: 50px;"><b>Paypal: </b></label>
        <input type="radio" disabled >
        <br><br><br><br>
        <button style="background-color: green; float: left;" type="submit" class="btn">CONFIRM</button>   
        <button style="float: right; margin-left: 20px;" routerLink="/new-order" class="btn">BACK</button>  
    </td>
    </form>
</div>