<div class="flex-wrapper" >
    <div style="min-height: 200px;">
        <br>
        <h1 class="title">Ding Dong Delivery</h1>
        <h3 class="title" style="font-size: 40px; margin-top: 0;">New orders</h3>
        <div class="center">
            <button  class="btn" routerLink="/dashboard">DASHBOARD</button>
        </div>
        <br>
        <div *ngFor="let o of orders" class="profile">
            <app-previous-order [isDelivery]="true" [order]="o"></app-previous-order>
            <br>
        </div>
    </div>
    <br><br><br><br>
</div>